<?xml version="1.0" encoding="utf-8"?>

<!--author : Pois0nBread
        e-mail : pois0nbreads@gmail.com
        time   : 2020/01/29
        desc   : AndroidManifest
        version: 2.2-->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.pois0nbread.gflkeeper">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="xposedmodule"
            android:value="true" />
        <meta-data
            android:name="xposeddescription"
            android:value="少前分屏保持运行" />
        <meta-data
            android:name="xposedminversion"
            android:value="82" />
    </application>

</manifest>